<li class="item-type" data-id="{{id}}">
    <div class="view">
        <span class="name">
            {{name}}
        </span>

        <div class="buttons pull-right">
            <button type="button pull-right" class="btn btn-danger btn-item-type-delete">
                <span class="glyphicon glyphicon-trash" />
            </button>
        </div>
    </div>
</li>