<li class="shopping-list-item" data-id="{{id}}">
    <span class="quantity">
        {{quantity}}
    </span>
    
    <span class="item-type-name">
        {{item_type.name}}
    </span>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-item-inc">
            <span class="glyphicon glyphicon-plus" />
        </button>
        <button type="button" class="btn btn-danger btn-item-dec">
            <span class="glyphicon glyphicon-minus" />
        </button>
    </div>
</li>
