<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>shopping-list-js</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">shopping-list-js</a>
            </div>
        </div>
    </nav>

    {{{body}}}

    <!-- bower:js -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>
