<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>shopping-list-js</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../bower_components/selectize/dist/css/selectize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">shopping-list-js</a>
            </div>
            <ul class="nav navbar-nav">
                {{#if user}}
                <li>
                    <a href="/shopping-lists">Lists</a>
                </li>
                <li>
                    <a href="/item-types">Item types</a>
                </li>
                {{else}}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                {{/if}}


            </ul>
            {{#if user}}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
            {{/if}}
        </div>
    </nav>

    {{{body}}}

    <!-- bower:js -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/sifter/sifter.js"></script>
    <script src="../../bower_components/microplugin/src/microplugin.js"></script>
    <script src="../../bower_components/selectize/dist/js/selectize.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>
