<!DOCTYPE html>
<html>

<head>
    <title>{{message}}</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.css" />
    <!-- endbower -->
</head>

<body>
    {{error}}

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/sifter/sifter.js"></script>
    <script src="../bower_components/microplugin/src/microplugin.js"></script>
    <script src="../bower_components/selectize/dist/js/selectize.js"></script>
    <!-- endbower -->
</body>

</html>
