<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">shopping-list-js</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        {{#each data}}
        <div class="col-sm-4">
            <div class="shopping-list">
                <h2>
                    {{attributes.name}}
                </h2>
            </div>
        </div>
        {{/each}}
    </div>
</div>
