doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='/static/css/styles.css')
    body
        table.datatable
            tr
                th Id
                th Name
                th Created at
            each itemType in itemTypes
                tr
                    td= itemType.id
                    td= itemType.name
                    td= itemType.createdAt