<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            <ul class="item-types">

            {{#each item_type}}
                {{> item_type}}
            {{/each}}

            </ul>
            
        </div>
    </div>
</div>