<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <form>
                <fieldset class="form-group">
                    <label class="sr-only" for="usernameInput">Username</label>
                    <input type="test" class="form-control" id="usernameInput" placeholder="Username">
                </fieldset>

                <fieldset class="form-group">
                    <label class="sr-only" for="passwordInput">Password</label>
                    <input type="test" class="form-control" id="passwordInput" placeholder="Password">
                </fieldset>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>

        </div>
    </div>
</div>
