<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="shopping-list" data-id="{{shopping_list.id}}">
                <div class="shopping-list-header clearfix">
                    <span class="name">
                        {{shopping_list.name}}
                    </span>

                    <div class="shopping-list-btns">
                        <button type="button" class="btn btn-lg btn-danger btn-finish-shopping">
                            <span class="glyphicon glyphicon-shopping-cart" />
                        </button>
                        <button type="button" class="btn btn-lg btn-success btn-add-item">
                            Add item
                        </button>
                    </div>
                </div>

                <ul class="shopping-list-items">
                    {{#each shopping_list.items}}
                        {{> shopping_list_item}}
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="overlay">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="add-item-form">
                    <form role="form">
                        <div class="form-group">
                            <input type="name" class="form-control" id="nameInput" placeholder="Name">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>