<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="shopping-list">
                <div class="shopping-list-header">
                    <div class="shopping-list-title">
                        <span class="name">
                            {{shopping_list.name}}
                        </span>
                    </div>

                    <div class="shopping-list-btns">
                        <button type="button" class="btn btn-success">
                            Add item
                        </button>
                    </div>
                </div>

                <div class="shopping-list-items">
                    <ul>
                        {{#each shopping_list.items}}
                            {{> shoppingListItem}}
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
