<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            <ul class="users">
                
                {{#each user}}
                        <li>
                            <span>
                                {{name}}
                            </span>
                            <span>
                                {{role}}
                            </span>
                        </li>
                {{/each}}

            </ul>

        </div>
    </div>
</div>