<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            <ul class="users">
                
                {{#each user}}
                        <li class="user-list-item">
                            <span class="name">
                                {{name}}
                            </span>
                            <span class="role">
                                ({{role}})
                            </span>
                        </li>
                {{/each}}

            </ul>

        </div>
    </div>
</div>