.shopping-list {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
}
.shopping-list .name {
  float: left;
  font-weight: bold;
  font-size: 18pt;
}
.shopping-list .shopping-list-btns {
  float: right;
}
.shopping-list .shopping-list-header {
  padding: 15px 20px 15px 15px;
}
.shopping-list-items {
  padding: 0;
  margin: 0;
}
.shopping-list-item {
  list-style-type: none;
  padding: 20px 0 20px 0;
  margin: 0;
}
.shopping-list-item:nth-of-type(odd) {
  background-color: #bfbfbf;
}
.shopping-list-item:nth-of-type(even) {
  background-color: #ffffff;
}
.shopping-list-item:last-of-type {
  border-radius: 0 0 10px 10px;
}
.shopping-list-item .item-type-name {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 0 40px;
}
.shopping-list-item .quantity {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 0 15px;
}
.shopping-list-item .btn-group {
  margin: 0 20px 0 0;
  font-weight: bold;
}
.in-cart:nth-of-type(n) {
  background-color: #b3e6b3;
}
.item-types {
  padding: 0;
  margin: 0;
}
.item-type {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  text-align: center;
}
.user-list-item {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  text-align: center;
}
.basis-list-item {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  text-align: center;
}
