@list-radius: 10px;
@base-color: black;
@row-color-odd: lighten(@base-color, 75%);
@row-color-even: lighten(@base-color, 100%);


.shopping-list {
    border: 1px solid black;
    border-radius: @list-radius;
    background-color: lighten(@base-color, 100%);

    .name {
        float: left;
        font-weight: bold;
        font-size: 18pt;
    }

    .shopping-list-btns {
        float: right;
    }

    .shopping-list-header {
        padding: 15px 20px 15px 15px;
    }
}


.shopping-list-items {
    padding: 0;
    margin: 0;
}


.shopping-list-item {
    list-style-type: none;
    padding: 20px 0 20px 0;
    margin: 0;

    &:nth-of-type(odd) {
        background-color: @row-color-odd;
    }

    &:nth-of-type(even) {
        background-color: @row-color-even;
    }

    &:last-of-type {
        border-radius: 0 0 @list-radius @list-radius;
    }

    .item-type-name {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 0 0 40px;
    }

    .quantity {
        font-size: 12pt;
        font-weight: bold;
        margin: 0 0 0 15px;
    }

    .btn-group {
        margin: 0 20px 0 0;
        font-weight: bold;
    }
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.add-item-form {
    position: relative;
    top: 400px;

    #name {
        display: inline;
    }
}

.item-types {
    padding: 0;
    margin: 0;
}

.item-type {
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 20px 0 20px 0;
    list-style-type: none;
    text-align: center;
}